services:
  trendimovies:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - TMDB_API_KEY=${TMDB_API_KEY}
        - NEXT_PUBLIC_SITE_URL=${NEXT_PUBLIC_SITE_URL}
        - NEXT_PUBLIC_SUPABASE_URL=https://db.techtrendi.com
        - NEXT_PUBLIC_SUPABASE_ANON_KEY=${NEXT_PUBLIC_SUPABASE_ANON_KEY}
    container_name: trendimovies
    restart: unless-stopped
    network_mode: host
    environment:
      - NODE_ENV=production
      - PORT=3002
      - TMDB_API_KEY=${TMDB_API_KEY}
      - NEXT_PUBLIC_SITE_URL=${NEXT_PUBLIC_SITE_URL}
      - NEXT_PUBLIC_SUPABASE_URL=https://db.techtrendi.com
      - NEXT_PUBLIC_SUPABASE_ANON_KEY=${NEXT_PUBLIC_SUPABASE_ANON_KEY}
      - SUPABASE_SERVICE_ROLE_KEY=${SUPABASE_SERVICE_ROLE_KEY}
      - GROQ_API_KEY=${GROQ_API_KEY}
      - NEWS_API_KEY=${NEWS_API_KEY}
      - GNEWS_API_KEY=${GNEWS_API_KEY}
    healthcheck:
      test: [CMD, wget, --no-verbose, --tries=1, --spider, http://localhost:3002]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
